.circle {
  width: 100px;
  height: 100px;
  background: green;
  border-radius: 50%;
}

.square {
  width: 100px;
  height: 100px;
  background: blue;
}

.rectangle {
  width: 200px;
  height: 100px;
  background: red;
}
